/* theme nav bar color*/
body .sidebar-left, body .sidebar-left .sidebar-content{background-color: #172d46 !important; }
body .sidebar.sidebar-left .sidebar-content .main-menu .nav.metismenu>.nav-dropdown.active>.nav-sub {background: #172d46 !important; }
/*body .aside-toolbar, body .top-toolbar.navbar-mobile.navbar-tablet {
    background-color: #172d46 !important
}*/

body .sidebar.sidebar-left .sidebar-content .main-menu .nav.metismenu>li.nav-dropdown>ul>li.nav-dropdown>ul>li>a, body .sidebar.sidebar-left .sidebar-content .main-menu .nav.metismenu>li.nav-dropdown>ul>li.nav-dropdown>ul>li>a>i, body .sidebar.sidebar-left .sidebar-content .main-menu .nav.metismenu>li>a, body .sidebar.sidebar-left .sidebar-content .main-menu .nav.metismenu>li>a>i{
	color:#FFF !important;
}

body .sidebar.sidebar-left .sidebar-content .main-menu .nav.metismenu>li.active>a, body .sidebar.sidebar-left .sidebar-content .main-menu .nav.metismenu>li.active>a:focus, body .sidebar.sidebar-left .sidebar-content .main-menu .nav.metismenu>li.active>a:hover{
	color:#2fbfa0 !important;
}

body .sidebar.sidebar-left .sidebar-content .main-menu .nav.metismenu>li.active>a>i{
	color:#2fbfa0 !important;
}
.logo_size {

     width: 60px;
    margin: -46px 14px;
    margin-top: 2px;
    height: auto;
    margin-bottom: 0;
}

.aside-toolbar{

      border-bottom: 0;
    height: 66px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff !important;
}
}

body .sidebar.sidebar-left .sidebar-content .main-menu .metismenu .nav-sub li>a, body .sidebar.sidebar-left .sidebar-content .main-menu .metismenu .nav-sub li>a>i {
    color: #fff !important;
}

.main-menu .metismenu li.active>a>span{color: #15baa9;}

.custom_checkbox{position: relative; overflow: hidden;}
.custom_checkbox .badge{position: relative;; z-index: 1; width:100%;}
.custom_checkbox .badge:after{content:"Approved";  border-radius: 0.25rem;   line-height: 20px;display: none; position: absolute; left: 0; top:0; width: 100%; height: 100%;  z-index: 2; background: #2fbfa0;}
.custom_checkbox input{ position: absolute; opacity: 0;cursor: pointer; height: 100%;
  width: 100%; z-index: 3;}
.custom_checkbox input:checked ~ .badge:after{ display: block;}
.sidebar.sidebar-left .sidebar-content .main-menu{ margin-top:21px !important; }
.page-header{padding: 13px 31px 0 !important}
.card-bg-color{background: #e8f3fe}
strong {
    font-weight: 100;
}
.approve-icon{
    color: #108028;
    border-radius: 10px;
    font-size:20px;
}
.pending-icon{
    color: #80102a;
    border-radius: 10px;
    font-size: 20px;
}
.deleted-icon{
    color: #ff4700;
    border-radius: 10px;
    font-size: 20px;
}

/* timepicker */

.wickedpicker {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), inset 0 -1px 2px rgba(14, 41, 57, 0.15);
  background: #fefefe;
  margin: 0 auto;
  border-radius: 0.1px;
  width: 270px;
  height: 130px;
  font-size: 14px;
  display: none;
}

.wickedpicker__title {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  position: relative;
  background: #f2f2f2;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 11px 10px 15px;
  color: #4C4C4C;
  font-size: inherit;
}

.wickedpicker__close {
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -o-transform: translateY(-25%);
  transform: translateY(-25%);
  position: absolute;
  top: 25%;
  right: 10px;
  color: #34495e;
  cursor: pointer;
}

.wickedpicker__close:before {
  content: "\2715";
}

.wickedpicker__controls {
  padding: 10px 0;
  line-height: normal;
  margin: 0;
}

.wickedpicker__controls__control, .wickedpicker__controls__control--separator {
  vertical-align: middle;
  display: inline-block;
  font-size: inherit;
  margin: 0 auto;
  width: 35px;
  letter-spacing: 1.3px;
}

.wickedpicker__controls__control-up, .wickedpicker__controls__control-down {
  color: #000000;
  position: relative;
  display: block;
  margin: 3px auto;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.wickedpicker__controls__control-up:before {
  content: "\2227";
}

.wickedpicker__controls__control-down:after {
  content: "\2228";
}

.wickedpicker__controls__control--separator {
  width: 5px;
}

.text-center, .wickedpicker__title, .wickedpicker__controls, .wickedpicker__controls__control, .wickedpicker__controls__control--separator, .wickedpicker__controls__control-up, .wickedpicker__controls__control-down {
  text-align: center;
}

.hover-state {
  color: #3498db;
}

.fontello:before, .wickedpicker__controls__control-up:before, .fontello-after:after, .wickedpicker__controls__control-down:after {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.clearable-picker {
  position: relative;
  display: inline-block;
}
.clearable-picker > .hasWickedpicker {
  padding-right: 1em;
}

.clearable-picker > .hasWickedpicker::-ms-clear {
  display: none;
}

.clearable-picker > [data-clear-picker] {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 0.8em;
  padding: 0 0.3em 0.2em;
  line-height: 1;
  color: #bababa;
  cursor: pointer;
}

.clearable-picker > [data-clear-picker]:hover {
  color: #a1a1a1;
}

.wickedpicker{
	z-index: 1070 !important;
}


.sidebar.sidebar-left .sidebar-content .main-menu .nav.metismenu>li>a:hover{color: #15baa9 !important ;}

.sidebar.sidebar-left .sidebar-content .main-menu .metismenu .nav-sub li a:hover, body .sidebar.sidebar-left .sidebar-content .main-menu .metismenu>li>.nav-sub li a:hover{color: #15baa9 !important ;}

/* 27 april 2020 */
#ms-list-1 {height: calc(2.25rem + 2px);}
#ms-list-1 button { height: 100%; margin: 0; border-radius: 0.25rem; border: 1px solid #788db447;}
.use-type {position: relative;}
.use-or { position: absolute; right: -26px; top: 38px; font-size: 14px;}
.broad-cast-card .form-group {padding: 0 10px;}
/* 27 april 2020 end */

 body .sidebar.sidebar-left .sidebar-content .main-menu .metismenu .nav-sub li>a, body .sidebar.sidebar-left .sidebar-content .main-menu .metismenu .nav-sub li>a>i{
  color: #fff !important;
}
.error-message{
     color:#ff5c75!important;
     font-size: .875rem !important;
     font-weight: 100 !important;
;
 }


/* 14 sep 2020 */
.chat-container { background-color: #f4fcff; padding: 20px 30px;}
.chat-item { display: flex; width: calc(100% - 80px); margin-bottom: 30px;}
.chat-item img { width: 40px; height: 40px; border-radius: 50%;}
.chat-txt { margin-left: 20px; background-color: #ddeaf9; padding: 15px 20px; border-radius: 0 20px 20px 20px;}
.cht-head { display: flex; justify-content: space-between; margin-bottom: 10px;}
.chat-txt>p { margin-bottom: 0; font-weight: 400;}
.cht-head h4 { font-weight: 500;}
.cht-head p, .cht-head h4 { margin-bottom: 0;}
.cht-time { color: #7391b3; font-weight: 400;}
.cht-right { margin-left: auto; flex-direction: row-reverse;}
.cht-right .chat-txt { margin-left: 0; margin-right: 20px; background-color: #dafbde; border-radius: 20px 0 20px 20px;}
.type-box input { width: calc(100% - 95px); margin-right: auto; height: 45px; padding: 0 16px; border-radius: 50px; border: none; box-shadow: 0px 0px 14px 0px rgb(23 45 70 / 8%);}
.send-btn { background-color: #172d46; color: #fff; height: 45px; width: 85px; border: none; border-radius: 32px; font-size: 18px; transition: all ease 0.5s;}
.send-btn:hover { background-color: #56c563;}
.send-btn:focus { outline: none;}
.crd-head { margin-bottom: 0; font-weight: 600;}
/* 14 sep 2020 end */

/* 9 oct 2020 */
.scroll-date {
  position: absolute;
  top: 107px;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  background-color: #172d46;
  padding: 5px 15px;
  border-radius: 5px;
  z-index: 1;
}
.scroll-date p {
  color: #fff;
  margin: 0;
}
button.attach-item {
  background-color: #00000029;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-grid;
  place-items: center;
  position: relative;
}
.attach-item svg {
  width: 15px;
  height: 15px;
  margin-bottom: 2px;
}
.attachments {
  position: absolute;
  right: 98px;
  top: 2px;
}
.type-box {
  position: relative;
}
button.attach-item:focus {
  outline: none;
}
button.attach-item input {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  opacity: 0;
  padding: 0;
}
/* 9 oct 2020 end */
