@charset "utf-8";
* {margin: 0; padding: 0; box-sizing: border-box;}

input[type=text]:focus, button:focus, .nav-link:focus{outline:0;}

body{font-family: 'Open Sans', sans-serif; color:#333; font-size:16px; line-height:1.5; font-weight:400; background:#fff;}
h1, h2, h3, h4, h5, h6{font-family: 'Open Sans', sans-serif; color:#000;}
p{line-height:24px; color:#000;font-family: 'Open Sans', sans-serif;font-weight:400;}
p:empty {display: none;}
p:last-of-type {margin-bottom: 0;}
a{color:#333;}
a:hover{color:#f4a125;text-decoration:none;}
.clr{clear:both;}
ul,ol{list-style-type:none; padding:0; margin:0}
h4{font-size:30px;}
.model_banner{width:100%;position:relative;}
.model_banner ul{width:100%; display:inline-block; list-style:none; margin:0;position:relative; }
.model_banner ul li{float:left; background:#000; cursor:-webkit-grab; background:url(../img/banner-1.jpg) no-repeat top center/cover;max-width:100%; min-height:650px;}
.model_banner .slick-dots{position: absolute; z-index:5; left: 0; bottom: 50px; display: flex; align-items: center; justify-content: center;}
.model_banner .slick-dots li{background:none;}
.model_banner .slick-dots li button{display:inline-block; font-size:0; border:0; background:#0692ce; width:14px; height:14px; border-radius:50%; margin:0 8px; cursor:pointer;}
.model_banner .slick-dots li button:hover{background:#0692ce;}
.model_banner .slick-dots li.slick-active button{background:#03709e;}
.mask_white{position:relative;}
.mask_white:before {content: ''; -webkit-mask: url(../img/mask-top-add-alt.png) top left no-repeat; -webkit-mask-size: cover; z-index: 4; padding-bottom: 5.208%; margin-bottom: -2px; left: 0; right: 0; bottom: 100%; position: absolute; background-color: #fff;}
.model_banner .slick-current li{align-items: center;display: flex !important;}
.model_banner .slick-current li .banner-text{text-align: right;width: 100%;}
.model_banner .slick-current li .banner-text h2{font-size:60px;font-weight:700;color:#fff;text-transform: uppercase;margin-bottom: 0px;}
.model_banner .slick-current li .banner-text h3{font-size:30px;font-weight:600;color:#fff;text-transform: uppercase;}
.model_banner .slick-current li .banner-text p{font-size:16px;color:#fff;margin: 30px 0px;}
.model_banner ul button.slick-prev {width: 60px;height: 60px;border: none;font-size: 0;border-radius: 50%;position: absolute;top: 50%;left: 30px;z-index: 1;transform: translateY(-50%);background: #FFF url(../img/left-arrow.png) no-repeat center center;}
.model_banner ul button.slick-next {width: 60px;height: 60px;border: none;font-size: 0;border-radius: 50%;position: absolute;top: 50%;right: 30px;z-index: 1;transform: translateY(-50%);background: #FFF url(../img/right-arrow.png) no-repeat center center;}
.top-header{background-color:#0692cd;    padding: 2px 0px;}
.social{}
.social ul{border-right:1px solid #5e7896;padding-right: 20px;}
.social ul li{display:inline-block;}
.social ul li a{color:#fff;font-size:20px; padding:0px 5px;}
.inline-block{display:inline-block;}
.lang{padding-left:20px; position:relative;}
.lang:after{content:'';background: url(../img/bottom-arrow.png) no-repeat center center/cover;position:absolute;top:8px;right:0;width:13px;height:6px;pointer-events: none;}
.lang select{font-size: 16px;color: #fff;background-color: transparent;border: none;width: 90px;-webkit-appearance: none;-moz-appearance: none;appearance: none;letter-spacing: 0.5px;}
.login a{font-size: 14px;color: #fff;padding-top: 4px;display: inline-block;letter-spacing: 0.5px;}
.request-btn a{display: inline-block;width: 180px;border: 2px solid #0692cd;font-size: 14px;position: relative;line-height: 20px;border-radius: 6px;padding: 3px 0px 3px 60px;color: #000;text-transform: uppercase;}
.request-btn a svg{content: '';position: absolute;top: 8px;left: 13px;width: 32px;height: 31px;}
.request-btn a span{display: block;font-weight: 600;}
.request-btn.mentor a{display: inline-block;width: 160px; border: 2px solid #0692cd;font-size: 14px;position: relative;line-height: 20px;border-radius: 6px;padding: 3px 0px 3px 60px;color: #000;text-transform: uppercase;}
.middle-header{padding:15px 0px;}
.bottom-header{background-color:#172d46;}
.bottom-header .navbar{padding:0;}
.bottom-header .navbar .navbar-nav .nav-item .nav-link{color:#fff; font-size:14px;    padding: 18px 30px;text-transform: uppercase;letter-spacing:0.5px;}
.bottom-header .navbar .navbar-nav .nav-item:first-child .nav-link{padding-left:0;}
.bottom-header .navbar .navbar-nav .nav-item.search:first-child .nav-link{padding: 15px 30px;}
.search-box{position: absolute;top: 100%;background-color: #f5f5f5;width: 206px;left: 0;z-index: 1;display: none;}
.search-box input{width: 100%;border: none;background: transparent;font-size: 14px;color: #000;height: 45px;padding: 10px;}
.mission-vission{background-color:#172d46;}
.search-box i{    position: absolute;right: 10px;top: 15px;}
.blue-bg{background-color: #0692cd;padding: 20px 0px;    margin-top: -6px;position: relative;}
.blue-bg:before{content: '';background: url(../img/shadow.png) no-repeat center center/cover;position: absolute;top: -15px;left: 0px;width: 100%;height: 32px;right: 0; z-index:1;}
.blue-bg:after{content:""; position:absolute; z-index:2;width:100%;  height:100%; top:0; left:0; background-color: #0692cd;}
.blue-bg .container{position:relative; z-index:3;}
.content h4{font-size: 20px;font-weight: 600;text-transform: capitalize;margin-bottom: 0;color: #fff;}
.content p{font-size: 14px;font-weight: 500;color: #fff; margin-bottom: 0;}
.bb{border:2px solid #fff;border-radius:4px;color:#fff;height:42px;line-height:36px;width:100%;display:inline-block;text-align:center;font-size: 15px;}
.padding-80{padding:60px 0px;}	
.about-bg{background: url(../img/about.png) no-repeat center center/cover;}
.heading-main{position: relative;font-weight: 600;font-size: 36px;text-transform: uppercase;    margin-bottom: 35px;}
.heading-main:before{content: '';position: absolute;bottom: -20px;left: 0px;width: 66px;height: 2px;background-color: #0692cd;margin: 0 auto;right: 0;}
.heading-main.left:before{content: '';position: absolute;bottom: -20px;left: 0px;width: 66px;height: 2px;background-color: #fff;margin: 0;right: 0;}
.heading p{font-size:15px;color:#444444;font-weight: 400;}
.about-content p{font-size: 15px;color: #444;font-weight: 400;}
.about-content h2{    font-size: 22px;}
.about-content ul li{font-size: 14px;padding-top: 10px;color: #333;font-weight: 400;}
.about-content ul li i{font-size: 24px;}
.mission .media .icon-mission{width:70px;height:70px;border-radius:50%; border:1px solid #afafaf; text-align:center;}
.mission .media .icon-mission i{    font-size: 36px;color: #0692cd;line-height: 68px;}
.mission .media .media-body{font-size:13px;    line-height: 24px;}
.mission .media .media-body h5{font-size:18px;}
.mission .media .media-body a{font-size: 14px;color: #04658e;display: block;margin-top: 15px;text-decoration: underline;font-weight: 600;}
.bg-black{padding: 50px 50px;}
.heading-main.left{color:#fff;}
.about-content.mission-content p, .about-content.mission-content ul li{color:#fff;}
.about-content.mission-content a{padding: 0px 30px;text-transform: uppercase;font-size: 14px;margin-top: 30px;}
.blog label{color: #0c709b;font-weight: 600;font-size: 14px;}
.blog h4{font-size: 18px;font-weight: 600;line-height: 26px;}
.blog p{font-size: 14px;color: #444;}
.blog .progress{height:6px;    margin: 20px 0px;}
.blog .progress .progress-bar{background-color:#b4e9ff;}
.blog a{font-size:14px; font-weight:400;}
.bg-greay{background-color:#f5f5f5;}
.upcoming-event .blog{background-color:#fff;}
.upcoming-event .blog a{font-size: 14px;color: #04658e;display: block;margin-top: 15px;text-decoration: underline;font-weight: 600;}
.upcoming-event .blog label span{color: #000;font-weight: 700;padding-left: 10px;}
.complete-events .media{border-bottom: 1px solid #ccc;padding-bottom: 10px;margin-top:10px;}
.complete-events .media:first-child{margin-top:0;}
.complete-events .media-body{font-size:14px;line-height: 16px;}
.complete-events .media-body h5{    font-size: 16px;font-weight: 600;}
.complete-events .media-body label{color: #0c709b;font-weight: 600;font-size: 14px;}
.complete-events .media-body a{color: #0c709b;font-weight: 600;font-size: 14px;text-decoration:underline;}
.complete-events a.blue{font-size:14px;}
.testimonial{padding: 40px;}
.testimonial p{font-size: 14px;}
.testimonial h4{font-size: 16px;margin-top: 30px;font-weight: 600;color: #0692cd;margin-bottom: 0;}
.testimonial em{font-size: 14px;}
.multi-images .slick-dots{position: absolute; z-index:5; left: 0;    right: 0; bottom: -40px; display: flex; align-items: center; justify-content: center;}
.multi-images .slick-dots li{background:none;}
.multi-images .slick-dots li button{display:inline-block; font-size:0; border:0; background:#0692cd; width:14px; height:14px; border-radius:50%; margin:0 8px; cursor:pointer;}
.multi-images .slick-dots li.slick-active button{background:#066086;}
footer {background: #333333;float: left;width: 100%;padding-top: 60px;border-top: 7px solid #0692ce;}
.footer_heading {text-transform: uppercase;font-weight: 700;padding: 15px 0;border-radius: 5px;font-size: 15px;color: #878787;margin: 0;}
.footer_btns_sec {display: block;margin: 25px 0;}
.footer_btns.shop {background-color: transparent;border: 2px solid #fff;}
.btn {min-width: 160px;padding: 0px 15px;line-height: 40px;height: 42px;font-weight: 700;font-size: 15px;}
.footer_btns {clear: both;margin-bottom: 15px;width: 100%;max-width: 210px;text-transform: uppercase;color: #fff;font-weight: 600;border-radius: 5px;line-height: 40px;background-color: #0692cd ;}
.footer_btns.signup {background-color: #0692cd;color: #fff;}
.footer_nav {list-style: none;font-size: 14px;line-height: 38px;}
.footer_nav a {color: #999999;display: block;}
footer .logo {width: 100%;max-width: 200pxmargin-bottom: 20px;float: left;position: relative;margin-top: 10px;}
footer p {font-size: 14px;line-height: 22px;color: #999999;}
.social-footer {list-style: none;margin-top: 20px;}
.social-footer  li {float: left;margin-right: 10px;width: 40px;height: 40px;text-align: center;}
.social-footer  li a {float: left;width: 40px;height: 40px;line-height: 40px;color: #767678;border: 1px solid #767678;border-radius: 50%;}
.social-footer  li a span {font-size: 18px;}
.copy a{color:#fff;}
.copy {border-top: 1px solid #cccccc;padding: 20px 0;color: #999999;}
.banner-text a{min-width: 200px;height: 55px;line-height: 55px;}
/* Buttons */
.orange{background-image: linear-gradient(#e67200, #f5a628); font-weight:600;}
.blue{background-color: #0692cd;font-size: 16px;min-width: 150px;height: 44px;display: inline-block;text-align: center;color:#fff; line-height: 45px;}
/* Buttons */

/* hovers */
.social ul li a:hover, .login a:hover{color: #f3a024;}
.request-btn a:hover{background-color: #0692ce; color:#fff;}
/* .request-btn a svg path{fill:#fff;} */
.request-btn a:hover svg path{fill:#fff;}
.bottom-header .navbar .navbar-nav .nav-item .nav-link:hover{color:#f29e23;}
.bottom-header .navbar .navbar-nav .nav-item .nav-link.orange:hover{color:#fff;}
.blue:hover{background-color: #f4a125;color:#fff;}
.bb:hover{background-color: #f4a125; color:#fff;border: 2px solid #f4a125;}
.mission:hover .icon-mission{background-color: #f3a024;color: #fff;border: 1px solid #f3a024;}
.mission:hover .media .icon-mission i{color:#fff;}
.mission:hover .media .media-body a{color:#f4a024;}
.footer_btns.shop:hover, .footer_btns.signup:hover{background-color: #f39d22;border: 2px solid #f39d22;color:#fff;}
.footer_nav a:hover{color: #f39d22;}
.social-footer li a:hover{background-color: #f39d22;color:#fff;border: 1px solid #f39d22;}
.complete-events .media-body a:hover , .upcoming-event .blog a:hover{color:#f39d22;}
.orange:hover{background-image: linear-gradient(#f39f24, #f5a628);color:#fff;}
/* hovers */
.mobile-logo{display:none;}
.mission-img{background:url(../img/mission.jpg) no-repeat center center/cover;}
.mobile-search,.mobile-search-input{display:none;}
.mobile-search-input{position: absolute;top: 100%;background-color: #f5f5f5;width: 100%;left: 0;z-index: 1;display: none;}
.mobile-search-input input {width: 100%;border: none;background: transparent;font-size: 14px;color: #000;height: 45px;padding: 10px;}
.mobile-search-input i {position: absolute;right: 10px;top: 15px;}

.inner-bg{background: url(../img/inner-bg.jpg) no-repeat center center/cover;padding: 100px 0px;}
.inner-heading h2{text-transform: uppercase;font-size: 36px;color: #fff;font-weight: 600;position: relative;}
.inner-heading p{color: #f4a125;}
.bread{background-color:#f5f5f5;}
.bread .breadcrumb{background-color:transparent;}
.breadcrumb-item.active {color: #444;font-weight: 600;}
.img-fullwidth {width: 100% !important;}
.mt-15 {margin-top: 15px !important;}
.font-36 {font-size: 30px;}
.text-theme-colored {color: #0692ce !important;}
.about-details p{color:#444;}
.bg-about{background-color:#f7f4e6;}
.reach-content .heading .heading-main.left{color:#000;}
.reach-content .heading .heading-main.left:before{background-color:#000;}
.counting{position: relative;padding-left: 0;padding-right: 0;}
.vc_column-inner{    box-sizing: border-box;padding-left: 15px;padding-right: 15px;width: 100%;}
.vc_column-inner .counter {margin-top: 20px;color: #222;font-weight: 700;}
.vc_column-inner .counter .animate-number {line-height: 1;}
.vc_column-inner:last-child {margin-bottom: 0;}
.vc_column-inner .title{    color: #222;font-weight: 600;font-size: 18px;}
.b-left{border-left:2px solid #0692cf;}
.team-member {overflow: hidden;padding-bottom: 15px;position: relative;background-color: #fff;}
.img-fullwidth {width: 100% !important;}
.styled-icons li {display: inline-block;margin-bottom: 0;margin-top: 0;}
.styled-icons.icon-sm a {font-size: 16px;height: 30px;line-height: 30px;margin: 2px 7px 2px 0;width: 30px;background-color: #f39f23;color: #fff;display: inline-block;}
.member-biography h3 a{font-size: 18px;text-transform: uppercase;font-weight: 600;}
.team-bg{background: url(../img/page-img-about-1.jpg) no-repeat center center/cover;}

/* blog css */
.blog {width: 100%;max-width: 830px;margin: 0 auto;background-color: #fff;border-radius: 8px;}
.blog .blog-img img {border-radius: 8px 8px 0px 0px;}
.blog-content {padding: 15px 30px;margin-bottom: 30px;}
.blog-content ul {list-style-type: none;margin: 0;border-bottom: 1px solid #e1e1e1;padding: 10px 0px;margin-bottom: 25px;}
.blog-content li {display: inline-block;padding-right: 25px;font-size: 15px;color: #000;}
.blog-content li i {color: #0692ce;padding-right: 5px;}
.blog-content h3 {font-size: 22px;color: #333;margin-bottom: 20px;font-weight: 500;}
.blog-content p {font-size: 15px;color: #333;line-height: 25px;margin-bottom: 5px;}
.blog-content a {padding: 10px 0px;font-weight: 600;display: inline-block;}
/* blog css */

/* blog details css */
.m-w-100{max-width:100% !important;}
.blog-search .search-field{font-size: 15px;color: #333;border: 1px solid #ececf0;background-color: #fff;height: 51px;padding-left: 20px;padding-right: 51px;-webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px;border-radius: 0px;width: 100%;}
.blog-search .search-submit {padding: 0;border: none;line-height: 50px;width: 51px;border-left: 1px solid #ececf0;position: absolute;top: 0;right: 10px;color: #333;font-size: 15px;background-image: none;background-color: transparent; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px;
}
.widget-title{font-size: 20px;color: #180b36; position: relative;padding-bottom: 10px;margin-bottom: 23px;}
.widget-title:before{content: '';width: 40px;height: 3px;background-color: #0692ce;position: absolute;bottom: 0;left: 0;}
.m-b-30{margin-bottom:30px;}
.blog-category ul{list-style-type: none;margin: 0;margin-bottom: 25px;}
.blog-category ul li{border-bottom: 1px solid #e1e1e1;padding: 10px 0px;}
.blog-category ul li a{color: #333;}
.blog-category .media img{width: 70px;height: 70px;border-radius: 50%;}
.blog-category .media .media-body h5{font-size: 13px;font-weight: 600;line-height: 18px;color: #333;margin-bottom: 5px;}
.blog-category .media .media-body{color: #0692ce;font-size: 13px;}	
.blog-category .media{border-bottom: 1px solid #e1e1e1;padding-bottom: 15px;margin-bottom: 15px;}
/* blog details css */

.form-control.frm_ctr_new {
    padding: 20px 12px;
    font-size: 13px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
	text-transform: uppercase;
}

.page-heading {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #767678;
    border-bottom: 1px solid #e8e8e8;
    margin: 20px 0 0;
    line-height: 36px;
}

.contact .form-group label{
	 font-size: 14px;
}

.blue.out-bg{background: transparent;color: #333;border: 2px solid #333;line-height: 40px;}
.blue.out-bg:hover{background: #f5a628;color: #fff;border: 2px solid #f5a628;}
.options .table thead tr th{font-size:14px;font-weight:600;}
.options .table tbody tr td{font-size:14px;}
.thank-you{    width: 100%;
    max-width: 550px;
    background-color: #f5f5f5;
    text-align: center;
    overflow: hidden;
    padding: 30px 20px;}
.thank-you img.right{    max-width: 100px;
    margin-bottom: 30px;}
.thank-you h2{    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #7b7b7b;}
.thank-you p{    font-size: 13px;
    color: #777;}
.thank-you h4{    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #7b7b7b;
    margin-top: 40px;}
.thank-you ul{    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin-top: 10px;}
.thank-you img.thank_logo{margin-top:20px;}

/* contact:start */
.contact_form {margin-top: 30px;}
.contact_form .input-group-text {border-radius: 0; color:#999999; font-size: 20px;  padding: .375rem .85rem;}
.contact_form .input-group {margin-bottom: 30px;}
.contact_form .form-control {height:50px; border-color:#ddd; border-radius: 0;}
.contact_form .text_area .form-control {height:120px; padding: 15px 12px;}
.contact_form .text_area .input-group-text {align-items: flex-start;}
.contact_form .text_area .input-group-text i {margin-top: 10px;}

.contact_form .form-control::-webkit-input-placeholder {color: #333333;}
.contact_form  .form-control::-moz-placeholder {color: #333333;}
.contact_form .form-control:-ms-input-placeholder {color: #333333;}
.contact_form  .form-control:-moz-placeholder {color: #333333;}

.con_info {border:1px solid #dddddd; position: relative; margin-top: 30px; background:#fff; z-index: 10;}
.con_info_top {padding:15px;}
.con_info_top h4 {font-size: 18px; color:#333; font-weight: 600;}
.con_info_top ul {margin:0;}
.con_info_top ul li {list-style: none; display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 20px;}
.con_info_top ul li .support_icon {width:36px; height:36px; border-radius: 50%; border:1px solid #b6b6b6; color:#3a3a3a; font-size: 18px; display: flex; justify-content: center; align-items: center;}
.con_info_top ul li .support_info {width:calc(100% - 50px);}
.con_info_top ul li .support_info h5 {font-size: 14px; color:#333; font-weight: 600; margin-bottom: 5px}
.con_info_top ul li .support_info p {font-size: 13px; font-weight: 500;}

.con_info_bottom {padding:10px 15px; border-top: 1px solid #ddd; text-align: center; position: relative; background:#fff;}
.con_info_bottom h6 {font-size: 12px; font-weight: 700;}
.con_info_bottom ul {margin:0;}
.con_info_bottom ul li {list-style: none; display: inline-block; margin:2px;}
.con_info_bottom ul li a {width:34px; height:34px; border-radius: 50%; border:1px solid #ddd; display: flex; justify-content: center; align-items: center; color:#333;}
.con_info_bottom ul li a:hover {text-decoration: none; background: #284065; color:#fff; border-color:#284065;}

.con_info::before {content:""; height: 5px; width:98%; border:1px solid #ddd;  position: absolute; left:50%; transform:translateX(-50%); bottom:-5px; background:#fff;} 
.con_info::after {content:""; height: 5px; width:96%; border:1px solid #ddd;  position: absolute; left:50%; transform:translateX(-50%); bottom:-9px; background:#fff;} 
.contact_map iframe {width:100%; height: 310px; border:1px solid #dddddd;}
.bb-radius{border-radius: 0px;border: 1px solid transparent;text-transform: uppercase;}
/* contact:end */

.reach-content p{color: #444;font-size: 14px;}
.list-item{-webkit-column-count: 3; /* Chrome, Safari, Opera */-moz-column-count: 3; /* Firefox */column-count: 3;}
.list-item li{position:relative;padding-left: 25px;margin-bottom: 8px;}
.list-item li:before{position:absolute;top:6px;content:'';background:url(../img/dot.png) no-repeat center center/cover; width:14px; height:14px;left: 0;}
.list-item li a{font-size:14px;}


.modal.show .modal-dialog { -webkit-transform: translate(0,-50%); transform: translate(0,-50%); margin:0 auto; top:50%;}
.modal-content{padding:30px;border:3px solid #0692cd ;}
.modal-content .close{position:absolute; right:15px; top:7px;text-shadow:inherit; opacity:1;z-index:99;}
.modal_header{text-align:center; padding:10px 0;}
.modal_header span{display:block; text-transform:uppercase; color:#000; font-weight:600; line-height:50px; font-size:18px;}

label{color:#808080; font-size:15px; font-weight:500; vertical-align: top; margin-bottom: .2rem;}
a.forgot{color:#b2b2b2; font-size:15px; font-weight:500; float:right;}

.login_modal .modal-content{background:#f2f2f2; padding:0; display:table;max-width: 688px;}

.not_a_member{ text-align:center;padding:30px 20px; width:45%; float:left;}
.not_a_member p{color:#808080; font-size:15px; line-height:23px;}
.login_modal .modal-content .login_d{background:#fff; padding:30px; width:55%; border-right:3px solid #0692cd ;  float:left;}

.checkbox {display: block; position: relative; padding-left: 35px; margin-bottom: 12px; cursor: pointer; font-size: 22px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; float:left;}
.checkbox, .checkbox span, .checkbox label, .checkbox input{cursor:pointer;}
/* Hide the browser's default checkbox */
.checkbox input { position: absolute; opacity: 0; cursor: pointer;}
/* Create a custom checkbox */
.checkmark {position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #eee;}
/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {background-color: #fff; border:1px solid #0692cd ;}
/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {background-color: #0692cd ;}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {content: ""; position: absolute; display: none;}
/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {display: block;}
/* Style the checkmark/indicator */
.checkbox .checkmark:after {left: 9px; top:4px; width: 7px; height: 14px; border: solid white; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);
    transform: rotate(45deg);}
.o-hiiden{overflow:hidden;}
#logineModal .modal-dialog .modal-content .login_d .login_sec .form-group input{font-size:14px;height:42px;}
.gallery-item{background-color: #f5f5f5;border: 1px solid #ecebeb;margin-bottom:30px;}
.gallery-item h5{font-size: 16px;padding: 15px;margin-bottom: 0;}
.gallery-item img{max-height:202px;min-height:202px;overflow:hidden;width: 100%;}
.about_img {float: right;width: 384px;position: relative;z-index: 1;padding-left: 80px;background: #FFF;margin-bottom: 65px;}
.about_img:after {content: "";position: absolute;right: 58px;top: 28px;width: calc(100% - 105px);height: 100%;border: 6px #eee solid;z-index: -1;}
.team{overflow: hidden;border-bottom: 1px solid #eaeaea;margin-bottom:30px;}
.team h4{font-size: 24px;font-weight: 600;text-transform: uppercase;color: #333;margin-bottom: 15px;}
.team h4 span{color: #069}
.team p{font-size: 14px;color: #444;}

.about_img.left-img {float: left;width: 364px;position: relative;z-index: 1;padding-left: 0px;background: #FFF;margin-bottom: 65px;}
.about_img.left-img:after {content: "";position: absolute;right: 60px;top: 28px;width: calc(100% - 105px);height: 100%;border: 6px #eee solid;z-index: -1;}


/*Help & Faqs Start*/
.accord_block {margin-bottom:30px; width:100%; display:inline-block;}
.accordiaon_heading {font-size:18px; color: #f4a125; text-transform:uppercase; margin:0 0 15px 0; font-weight:600; width:100%; float:left;}
.accord_block .card-header {background: none; padding: 0; border:none;  position: relative; width:100%; float:left;}
.accord_block .card-header::after {content: ""; width: 17px; height: 17px; background: url(../img/minus.png)no-repeat left top; position: absolute; right:18px; top:18px; pointer-events: none;}
.accord_block .card-header.collapsed::after {content: ""; width: 17px; height: 17px; background: url(../img/plus.png)no-repeat left top; position: absolute; right:18px; top:18px; pointer-events: none;}

.accord_block .card-header a {cursor: pointer;  font-size: 15px; font-weight:600; color: #333; width: 100%; clear: both;  border: 1px solid #ebebeb; border-radius: 5px; padding: 15px 50px 15px 15px; box-shadow: 3px 5px 8px -3px #dcdcdc; display: block;}
.accord_block .card-header a:hover {background: #fafafa;}
.acc_cont{width:100%; float:left; padding:10px 0 30px 0;}
.filter_inner .links{margin-bottom:5px;}
.accord_last{margin-bottom:0;}

/*Help & Faqs End*/

.footer_btns_sec .request-btn a{    width: 130px;padding: 3px 0px 3px 25px;font-size: 12px;line-height: 16px;}
.footer_btns_sec .request-btn a svg{width: 22px;    top: 4px;
    left: 6px;}
.footer_btns_sec .request-btn a span{}

/* event */
.news-date{-ms-flex: 130px;flex: 130px;max-width: 130px;}
.news-description{-ms-flex: 100%;flex: 100%;max-width: 100%;}
.news{background-color: #0692cd;text-align: center;}
.news h3{font-size: 40px;font-weight: 700;color: #fff;margin-bottom: 0px;padding: 8px 0px;}
.news p{color: #fff;text-transform: uppercase;line-height: 18px;font-weight: 600;background-color: #33c2ff;padding: 13px 0px;letter-spacing: 0.5px;}
.news p span{display:block;}
.description-date{padding: 0px 20px;}	
.description-date h5{font-size: 18px;font-weight: 600;text-transform: capitalize;border-bottom: 1px solid #ececec;padding-bottom: 10px;}	
.description-date a{font-size: 14px;color: #04658e;display: block;margin-top: 15px;text-decoration: underline;font-weight: 600;}
.news-section{border-bottom: 1px solid #ccc;padding-bottom: 15px;margin-bottom: 15px;padding-top: 15px;}	
.news-room{border-radius: 10px;overflow: hidden;}
.news-section:hover{background-color:#f5f5f5;}
/* event */




