@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*
font-family: 'Poppins', sans-serif;
*/

body{font-family: 'Poppins', sans-serif;}
a:hover{text-decoration:none;}
a{display: inline-block;}
h2{font-size:36px;}
h3{font-size:30px;}
h4{font-size:24px;}
h5{font-size:20px;}
h6{font-size: 16px;}
p{font-size:16px; line-height: 24px;}
.up-cse{text-transform: uppercase;}
section, .footer{padding:60px 0px;}
ul,ol{margin:0;padding:0;}
.container.sml-container{max-width:1330px;}
.container-fluid.sml-fluid{max-width: 1800px;}
button:focus{outline:0;}
::-moz-selection { color: #fff; background: #08b4ec;}
::selection {color: #fff; background: #08b4ec;}

/* header */
.qui-head{background-image: url("../image/background.png"); background-size: cover; color:#fff; padding: 50px 0; padding-bottom: 110px;}
.head-box {position: relative; padding: 0 185px;}
.head-box .navbar-brand{position: absolute; left: 0; top: -50px;}
.head-box h2 { font-size: 40px; font-weight: 700; margin: auto; margin-bottom: 35px; }
.head-box p { font-size: 20px; line-height: 30px; max-width: 750px; margin: auto; }
/* header end */

/* page content */
.page-content { max-width: 728px; margin: auto; box-shadow: 0px 0px 20px 0px #0000003b; border-radius: 10px; overflow: hidden; margin-top: -70px; margin-bottom: 70px; }
.page-content img {width: 100%;}
.page-content h4 { background-color: #00aaff; color: #222; font-size: 24px; font-weight: 600; line-height: 56px; padding: 0 20px; }
.page-content p { padding: 20px; font-size: 16px; line-height: 24px; color: #222; }
/* page content end */

.qui-card{ max-width: 728px; margin: auto; box-shadow: 0px 0px 20px 0px #0000003b; padding: 20px 0; background-color: #fff; border-radius: 10px; overflow: hidden; margin-top: -70px; margin-bottom: 70px;}

/* user details */
.usr-dtl img{width: auto;}
.rating{color: #a1a3a5; font-size: 22px; margin-top: 18px;}
.rating .active{color: #f5e945;}
.rating, .rating-txt {display: inline-block;}
.user-detail p {margin-bottom: 5px;}
.user-img img { background-color: #e8e8e8; border-radius: 5px; overflow: hidden; }
.feedback textarea { border-color: #ccc; border-radius: 8px; padding: 10px 20px; }
/* user details end */

.error-message{
    color:red;
    font-size: 14px;
}

/* 7 oct 2020 */
.cont-form {
    width: 100%;
    margin: 20px 0;
}
.cont-form textarea.form-control {
    border-radius: .25rem!important;
}
.cont-form .blue.bb-radius {
    background-color: #44a6f5;
    border: 1px solid #44a6f5;
    color: #fff;
    padding: 9px 24px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(115,108,199,.4);
    transition: all ease 0.5s;
}
.cont-form .blue.bb-radius:hover{box-shadow: 0 15px 20px rgba(115,108,199,.4); transform: scale(1.02);}
/* 7 oct 2020 end */
