.thank-you p{
	font-size: 18px;
}
.main_logo{cursor:pointer}
.bottom-header .navbar .navbar-nav .nav-item .nav-link.active {
    color: #f29e23;
}

.form-control.frm_ctr_new {
    padding: 0 12px;
    font-size: 13px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 40px;
    line-height: 40px;
}

.form_2_p {font-size :14px; padding: 7px 5px 0 0;}
.forms_button {border : transparent;}
.form_erros {font-size : 14px; color: red;}
.main-content p{
	color: #444;
    font-size: 17px;
}
.ui-datepicker .ui-datepicker-prev span{
	display:contents;
}
.ui-datepicker .ui-datepicker-next span{
	display:contents;
}

li.currentactive a {
    color: #f5a628;
}

.galleryName{
	 margin-left: 474px;
}

.fancybox{
	display: block !important;
}
.error-message{
    color:red;
    font-size: 14px;
}


