@charset "utf-8";
@media(min-width:1024px){body{zoom:100%;}}
@media(max-width:1024px){
	.bottom-header .navbar .navbar-nav .nav-item .nav-link{    padding: 21px 14px;}
	.fancybox{
		display: block !important;
	}
}

@media(max-width:991px){
	.about-img img{width:100%;margin-bottom:30px;}
	.model_banner ul li{min-height:400px;}
	.blog{margin-bottom:30px;}
	.blog img{width:100%;}
	.navbar-light .navbar-toggler {background-color: #fff;border-radius: 0;margin: 4px 0px;border: none;}
	.bottom-header .navbar .navbar-nav .nav-item .nav-link{font-size:13px; margin-top: 14px;}
	.position-relative{padding-top: 0px;
	}
	.bottom-header .navbar .navbar-nav .nav-item .nav-link {
		font-size: 13px;
		margin-top: 0px;
	}
	.fancybox{
		display: block !important;
	}	
}

@media(max-width:767px){
	.mobile-logo{display:block;}
	.logo {display:none;}
	.lang {padding-left: 5px;}
	.lang select{font-size:14px;width: 68px;}
	.social ul li a {font-size: 13px;padding: 0px 2px;}
	.login a{font-size:13px;}
	.lang:after{top: 10px;}
	.request-btn a svg{width: 19px;top: 2px;left: 8px;}
	.request-btn a{font-size: 11px;line-height: 12px;padding: 3px 0px 3px 35px;width: 118px;border: 1px solid #0692cd;}
	.request-btn.mentor a{font-size: 11px;line-height: 12px;padding: 3px 0px 3px 35px;width: 105px;border: 1px solid #0692cd;}
	.mobile-logo img{max-width:100px;}
	.middle-header {padding: 5px 0px;border-bottom: 1px solid #ccc;}
	.bottom-header {background-color: #ffffff;}
	.bottom-header .navbar .navbar-collapse{background-color:#172d46;}
	.bottom-header .navbar .navbar-nav .nav-item:first-child .nav-link{padding-left: -1px; }
	.bottom-header .navbar .navbar-nav .nav-item .nav-link{padding: 18px 20px;}
	.model_banner .slick-slide li .banner-text h2{font-size:18px;}
	.model_banner .slick-slide li .banner-text h3{font-size: 14px;}
	.model_banner .slick-slide li .banner-text p{font-size: 13px;margin: 0px 0px 10px;}
	.model_banner .slick-slide li .banner-text p br{display:none;}
	.blue{font-size: 13px; }
	.banner-text a {min-width: 110px;height: 35px;line-height: 35px;}
	.model_banner ul li {min-height: 230px;}
	p{font-size: 13px;line-height:18px;}
	.bottom-header .navbar .navbar-nav.mobile-hide{display:none;}
	.content{text-align:center;}
	.content h4{font-size:14px;}
	.content p{ font-size: 12px;margin-bottom: 10px;}
	.content a{width: 100%;max-width: 100%;line-height: 40px;}
	.blue-bg{padding:10px 0px; margin-top:-50px;}
	.padding-80 {padding: 20px 0px;}
	.heading-main{font-size: 18px;    margin-bottom: 15px;}
	.heading-main:before{bottom: -8px;width: 36px;}
	.heading p{font-size:12px;}
	.heading p br{display:none;}
	.mt-5, .my-5 {margin-top: 1rem!important;}
	.about-img img {margin-bottom: 10px;}
	.about-content h2 {font-size: 14px;}
	.about-content p{font-size: 12px;}
	.about-content ul li{font-size:12px;}
	.about-content ul li i {font-size: 16px;}
	.mission .media .icon-mission{width:50px; height:50px;}
	.mission .media .icon-mission i {font-size: 26px;line-height: 50px;}
	.mission .media .media-body h5 {font-size: 14px; margin-bottom:0;}
	.mission .media .media-body{font-size:12px;line-height: 18px;}
	.mission{margin-bottom:20px;}
	.mission .media .media-body a{margin-top:5px;}
	.heading-main.left:before{    width: 46px;height: 2px;    bottom: -10px;}
	.bg-black {padding: 20px 15px;}
	.about-content.mission-content a {padding: 0px 15px;font-size: 12px;margin-top: 10px;}
	.blue{line-height: 40px;    height: 38px;}
	.blog h4 {font-size: 14px;line-height: 18px;}
	.blog p {font-size: 12px;}
	.blog .progress {height: 2px;margin: 10px 0px;}
	.complete-events .media-body h5{font-size:14px;margin-bottom:0px;}
	.complete-events .media-body{font-size:12px;}
	.complete-events .media-body label, .complete-events .media-body a{font-size:12px;}
	.complete-events a.blue {font-size: 12px;min-width: 120px;}
	.testimonial p{font-size:12px;}
	.testimonial {padding: 15px;}
	.testimonial h4{font-size:14px;}
	.testimonial em {font-size: 12px;}
	footer{padding-top: 10px;}
	.footer_btns_sec{text-align:center;}
	.champ{text-align:center;    font-size: 13px;    padding: 10px 0;}
	.footer_btns_sec {margin: 5px 0;}
	footer .logo{display:block;    text-align: center;max-width: 100%;}
	footer .logo img{max-width: 130px;}
	footer p{text-align:center;font-size:13px;}
	/*.social-footer {margin: 10px auto;width: 76%;display: block;margin-bottom: 10px;overflow: hidden;}*/
	.social-footer {margin: 10px auto;display: flex;margin-bottom: 10px;overflow: hidden;align-items: center;justify-content: center;}
	.social-footer li {margin: 0 7px;width: 40px;height: 40px;text-align: center;}
	.copy span{float: none !important;text-align: center!important;display: block;font-size: 12px;}
	.mission-img{min-height:300px;}
	.mobile-search{display:block;background-color: transparent;border:none;font-size:18px;padding-right:5px;color:#61616;}
	.mobile-search,.mobile-search-input{display:block;}
	.search-box1.mobile-search-input{width:100%;display:block;}
	.login a:nth-child(1) {    padding-left: 0px;
	padding-right: 90px;}
	.login a:nth-child(2) {padding-right:0px;}
	.login a i {padding-left: 63px; padding-right:0;}
	.not_a_member{display:none;}
	.login_modal .modal-content .login_d{width:100%;border:none;}
	.contact_form .input-group{position:relative;}
	.input-group span {position: absolute;bottom: -23px;}
	.desktop-about{display:none;}
	.phone-about{display:block;}
	.desktop-menu{display:none;}
	.phone-menu{display:block;}
	.mobsearch{ display:block;}
	.position-relative{padding-top: 6px;
	}
	
	.recaptcha iframe {
		width: 313px;
		height: 90px;
	}
	
	.galleryName{
		margin-left: 120px;
	}
	.fancybox{
		display: block !important;
	}
	
}



@media(max-width:575px){
	.loginmodal1{margin-left: 53px;}
	.mobsearch{ margin-left: 319px;}
	.fancybox{
		display: block !important;
	}
}

@media (max-width:480px){
	.login a:nth-child(1) {padding-left: 75px;    padding-right: 0;}
	.social ul,.login a i{padding:0;}
	.loginmodal1{margin-left: 53px;}
	.mobsearch{ margin-left: 140px;}
	.recaptcha iframe {
		width: 313px;
		height: 90px;
	}
	
	.galleryName{
		margin-left: 120px;
	}
	
	.fancybox{
		display: block !important;
	}
}

@media (max-width:320px){
	.mobsearch{ margin-left: 100px;}
	
	.fancybox{
		display: block !important;
	}
}


@media (max-width: 1600px){
}
@media (max-width: 1400px){
}
@media (max-width: 1349px){
    .head-box h2 {font-size: 30px;}
    .head-box p {font-size: 16px;}
}
@media (max-width: 1200px){
    .head-box h2 {font-size: 24px; margin-bottom: 18px;}
    .head-box p {font-size: 14px;}
    .head-box img {width: 120px; }
    .head-box .navbar-brand {top: -32px;}
    .head-box {padding: 0 120px;}
}
@media (max-width: 992px){
    .head-box img {width: 90px;}
}
@media (max-width: 767px){
    .head-box {padding: 0;}
    .head-box .navbar-brand {position: static; margin-bottom: 20px;}
    .qui-head {padding-top: 15px;}
    .head-box p{line-height: 20px;}
    .head-box h2{font-size: 20px;}
    .page-content{margin-left: 10px; margin-right: 10px;}
}
@media (max-width: 576px){
}












